{
  "swagger": "2.0",
  "info": {
    "title": "TuitionEventic API",
    "version": "1.0",
    "description": "Upon successfully providing bill information, the corresponding materials will be reviewed by LianLian Pay. \n\nIt’s allowed to re-provide the materials with respect to the bill being rejected. \n\nPlease firstly use Document Api to upload materials. Note: if the document name is replicated, the previous old document will be replaced by the new one."
  },
  "host": "global-api.lianlianpay.com/outbound/bill/v1",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/tuitionevidences": {
      "post": {
        "summary": "Send Tuition Evidence",
        "operationId": "post-tuitionevidences",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "400": {
            "description": "Bad Request\n\nPossible error codes:\n\n| Code | Description |\n|------|-------------|\n| 020102|Payer is auditing|\n| 020103|Payer is rejected|\n| 020301|trading material already exist |\n| 020302|trading meterial document amount exceed limit|\n| 020401|bill not exist or invalid |\n| 020303|bill amount does not match with tuition amount|\n| 020501|payer does not exist|\n| 999995 |Parameter is error. |",
            "schema": {
              "type": "object"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "billId": {
                  "type": "string",
                  "description": "Unique bill id from client"
                },
                "universityName": {
                  "type": "string",
                  "description": "University name"
                },
                "country": {
                  "type": "string",
                  "description": "University country or region"
                },
                "tuitionCurrency": {
                  "type": "string",
                  "description": "Tuition currency"
                },
                "tuitionAmount": {
                  "type": "string",
                  "description": "Tuition amount"
                },
                "studentName": {
                  "type": "string",
                  "description": "Student name"
                },
                "attachment": {
                  "type": "string",
                  "description": "Document id, supported file extensions are PDF, JPG, GIF. 5 documents at most.\nSample：2018072227039320,2018072227039320"
                }
              },
              "required": [
                "billId",
                "universityName",
                "country",
                "tuitionCurrency",
                "tuitionAmount",
                "studentName",
                "attachment"
              ]
            },
            "description": ""
          }
        ],
        "tags": [
          "Operations"
        ],
        "description": "Submit trading material documents. Before making a request, supporting documents should be uploaded into Lianlian Pay's file system first. Supporting document reviewing results will be returned via webhook \n\nThe following verifications will be conducted on trading materials: \n1. to verify whether the bill exists;\n2. to verify whether the “documentId” is valid; and \n3. to reject uploading the new materials if there is verification under progress or the same is completed before. \n"
      }
    },
    "/tuitionevidences/{billId}": {
      "parameters": [
        {
          "type": "string",
          "name": "billId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Query Tuition evidence of Bill",
        "tags": [
          "Operations"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TuitionInfo"
            }
          },
          "400": {
            "description": "Bad Request\n\nPossible error codes:\n\n| Code | Description |\n|------|-------------|\n| 999995 |Parameter is error. |",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "operationId": "get-tuitionevidences-billid",
        "description": "Get evidence details by bill id "
      }
    }
  },
  "definitions": {
    "TuitionInfo": {
      "title": "TuitionInfo",
      "type": "object",
      "description": "Tuition information defined in Lianlian Pay's system",
      "x-tags": [
        "Models"
      ],
      "properties": {
        "billId": {
          "type": "string",
          "description": "Bill id from client"
        },
        "universityName": {
          "type": "string",
          "description": "University Name"
        },
        "tuitionCurrency": {
          "type": "string",
          "description": "Tuition currency, one of\n\n| currency | description  |\n|--------|-------------|\n|USD |USD|\n|EUR |EUR|\n|GBP |GBP|\n|CAD |CAD|\n|JPY |JPY|\n|THB |THB|\n|IDR |IDR|\n|AED |AED|\n|HKD |HKD|\n|CNH |CNH|"
        },
        "tuitionAmount": {
          "type": "string",
          "description": "Tuition amount"
        },
        "studentName": {
          "type": "string",
          "description": "beneficiary name"
        },
        "attachment": {
          "type": "string",
          "description": "Document id, supported file extensions are PDF, JPG, GIF. 5 documents at most."
        },
        "createTime": {
          "type": "string",
          "format": "date-time",
          "description": "create time"
        },
        "status": {
          "type": "string",
          "description": "Tuition evidence status, one of\n\n|value|descrption|\n|------|-------------|\n|AUDITING|Under review|\n|APPROVED|Approved|\n|REJECT|Rejected|"
        },
        "failedReason": {
          "type": "string",
          "description": "Failure reason"
        },
        "country": {
          "type": "string",
          "description": "school country/country code\n\n| country | description  |\n|--------|-------------|\n|ALB|\t阿尔巴尼亚 Albania                                                                                  |                  \n|DZA|\t阿尔及利亚 Algeria                                                                                  |\n|AFG|\t阿富汗 Afghanistan                                                                                  |\n|ARG|\t阿根廷 Argentina                                                                                    |\n|ARE|\t阿闻酋 United Arab Emirates                                                                         |\n|ABW|\t阿鲁巴 Aruba                                                                                        |\n|OMN|\t阿曼 Oman                                                                                           |\n|AZE|\t阿塞拜疆 Azerbaijan                                                                                 |\n|EGY|\t埃及 Egypt                                                                                          |\n|ETH|\t埃塞俄比亚 Ethiopia                                                                                 |\n|IRL|\t爱尔兰 Ireland                                                                                      |\n|EST|\t爱沙尼亚 Estonia                                                                                    |\n|AND|\t安道尔 Andorra                                                                                      |\n|AGO|\t安哥拉 Angola                                                                                       |\n|AIA|\t安圭拉 Anguilla                                                                                     |\n|ATG|\t安提瓜和巴布达 Antigua and Barbuda                                                                  |\n|AUT|\t奥地利 Austria                                                                                      |\n|AUS|\t澳大利亚 Australia                                                                                  |\n|MAC|\t澳门 Macau                                                                                          |\n|BRB|\t巴巴多斯 Barbados                                                                                   |\n|PNG|\t巴布亚新几内亚 Papua New Guinea                                                                     |\n|BHS|\t巴哈马 Bahamas                                                                                      |\n|PAK|\t巴基斯坦 Pakistan                                                                                   |\n|PRY|\t巴拉圭 Paraguay                                                                                     |\n|PSE|\t巴勒斯坦 Palestine                                                                                  |\n|　\t|　                                                                                                     |\n|BHR|\t巴林 Bahrain                                                                                        |\n|PAN|\t巴拿马 Panama                                                                                       |\n|BRA|\t巴西 Brazil                                                                                         |\n|BLR|\t白俄罗斯 Belarus                                                                                    |\n|BMU|\t百慕大 Bermuda                                                                                      |\n|BGR|\t保加利亚 Bulgaria                                                                                   |\n|MNP|\t北马里亚纳 Northern Marianas                                                                        |\n|PLW|\t帕劳 Palau                                                                                          |\n|BEN|\t贝宁 Benin                                                                                          |\n|BEL|\t比利时 Belgium                                                                                      |\n|ISL|\t冰岛 Iceland                                                                                        |\n|PRI|\t波多黎各 Puerto Rico                                                                                |\n|POL|\t波兰 Poland                                                                                         |\n|BOL|\t玻利维亚 Bolivia                                                                                    |\n|BIH|\t波斯尼亚和黑塞哥维那 Bosnia and Herzegovina                                                         |\n|BWA|\t博茨瓦纳 Botswana                                                                                   |\n|BLZ|\t伯利兹 Belize                                                                                       |\n|BTN|\t不丹 Bhutan                                                                                         |\n|BFA|\t布基纳法索 Burkina Faso                                                                             |\n|BDI|\t布隆迪 Burundi                                                                                      |\n|BVT|\t布维岛 Bouvet Island                                                                                |\n|PRK|\t朝鲜 Korea,Democratic People's Republic of                                                          |\n|GNQ|\t赤道几内亚 Equatorial Guinea                                                                        |\n|DNK|\t丹麦 Denmark                                                                                        |\n|DEU|\t德国 Germany                                                                                        |\n|TMP|\t东帝汶 East Timor                                                                                   |\n|TGO|\t多哥 Togo                                                                                           |\n|DOM|\t多米尼加共和国 Dominican Republic                                                                   |\n|DMA|\t多米尼克 Dominica                                                                                   |\n|RUS|\t俄罗斯联邦 Russia Federation                                                                        |\n|ECU|\t厄瓜多尔 Ecuador                                                                                    |\n|ERI|\t厄立特里亚 Eritrea                                                                                  |\n|FRA|\t法国 France                                                                                         |\n|FRO|\t法罗群岛 Faroe Islands                                                                              |\n|PYF|\t法属波利尼西亚 French Polynesia                                                                     |\n|GUF|\t法属圭亚那 French Guiana                                                                            |\n|ATF|\t法属南部领土 French Southern Territo-ries                                                           |\n|VAT|\t梵蒂冈 Vatican                                                                                      |\n|PHL|\t菲律宾 Philippines                                                                                  |\n|FJI|\t斐济 Fiji                                                                                           |\n|FIN|\t芬兰 Finland                                                                                        |\n|CPV|\t佛得角 Cape Verde                                                                                   |\n|GMB|\t冈比亚Gambia                                                                                        |\n|COD|\t刚果（金）Congo, the Democratic Republic of the                                                     |\n|COG|\t刚果（布） Congo                                                                                    |\n|COL| \t哥伦比亚 Colombia                                                                                   |\n|CRI|\t哥斯达黎加 Costa Rica                                                                               |\n|GRD|\t格林纳达 Grenada                                                                                    |\n|GRL|\t格陵兰 Greenland                                                                                    |\n|GEO|\t格鲁吉亚 Georgia                                                                                    |\n|CUB|\t古巴 Cuba                                                                                           |\n|GLP|\t瓜德罗普 Guadeloupe                                                                                 |\n|GUM|\t关岛 Guam                                                                                           |\n|GUY|\t圭亚那 Guyana                                                                                       |\n|KAZ|\t哈萨克斯坦 Kazakhstan                                                                               |\n|HTI|\t海地 Haiti                                                                                          |\n|KOR|\t韩国 Korea,Republic of                                                                              |\n|NLD|\t荷兰 Netherlands                                                                                    |\n|ANT|\t荷属安的列斯 Netherlands Antilles                                                                   |\n|HMD|\t赫德岛和麦克唐纳岛 Heard islands and Mc Donald Islands                                              |\n|HND|\t洪都拉斯 Honduras                                                                                   |\n|KIR|\t基里巴斯 Kiribati                                                                                   |\n|DJI|\t吉布提 Djibouti                                                                                     |\n|KGZ|\t吉尔吉斯斯坦 Kyrgyzstan                                                                             |\n|GIN|\t几内亚 Guinea                                                                                       |\n|GNB|\t几内亚比绍 Guine-bissau                                                                             |\n|CAN|\t加拿大 Canada                                                                                       |\n|GHA|\t加纳 Ghana                                                                                          |\n|GAB|\t加蓬 Gabon                                                                                          |\n|KHM|\t柬埔寨 Cambodia                                                                                     |\n|CZE|\t捷克 Czech Repoublic                                                                                |\n|ZWE|\t津巴布韦 Zimbabwe                                                                                   |\n|CMR|\t喀麦隆 Cameroon                                                                                     |\n|QAT|\t卡塔尔 Qatar                                                                                        |\n|CYM|\t开曼群岛 Cayman Islands                                                                             |\n|CCK|\t科科斯(基林)群岛 Cocos(Keeling) Islands                                                             |\n|COM|\t科摩罗 Comoros                                                                                      |\n|CIV|\t科特迪瓦 Cote d'Ivoire                                                                              |\n|KWT|\t科威特 Kuwait                                                                                       |\n|HRV|\t克罗地亚 Croatia                                                                                    |\n|KEN|\t肯尼亚 Kenya                                                                                        |\n|COK|\t库克群岛 Cook Islands                                                                               |\n|LVA|\t拉脱维亚 Latvia                                                                                     |\n|LSO|\t莱索托 Lesotho                                                                                      |\n|LAO|\t老挝 Lao                                                                                            |\n|LBN|\t黎巴嫩 Lebanon                                                                                      |\n|LBR|\t利比里亚 Liberia                                                                                    |\n|LBY|\t利比亚 Libya                                                                                        |\n|LTU|\t立陶宛 Lithuania                                                                                    |\n|LIE|\t列支敦士登 Liechtenstein                                                                            |\n|REU|\t留尼汪 Reunion                                                                                      |\n|LUX|\t卢森堡 Luxembourg                                                                                   |\n|RWA|\t卢旺达 Rwanda                                                                                       |\n|ROM|\t罗马尼亚 Romania                                                                                    |\n|MDG|\t马达加斯加 Madagascar                                                                               |\n|MLT|\t马耳他 Malta                                                                                        |\n|MDV|\t马尔代夫 Maldives                                                                                   |\n|FLK|\t福克兰群岛（马尔维纳斯群岛）Falkland Islands                                                        |\n|　\t|( Malvinas)                                                                                            |\n|MWI|\t马拉维 Malawi                                                                                       |\n|MYS|\t马来西亚 Malaysia                                                                                   |\n|MLI|\t马里 Mali                                                                                           |\n|MKD|\t前南马其顿 MACEDONIA,THE FORMER YUGOSLAV REPUBLIC OF                                                |\n|MHL|\t马绍尔群岛 Marshall Islands                                                                         |\n|MTQ|\t马提尼克 Martinique                                                                                 |\n|MYT|\t马约特 Mayotte                                                                                      |\n|MUS|\t毛里求斯 Mauritius                                                                                  |\n|MRT|\t毛里塔尼亚 Mauritania                                                                               |\n|USA|\t美国 United States                                                                                  |\n|ASM|\t美属萨摩亚 American Samoa                                                                           |\n|UMI|\t美国本土外小岛屿United States Minor Outlying Islands                                                |\n|VIR|\t美属维尔京群岛 United States Virgin Is-lands                                                        |\n|MNG|\t蒙古 Mongolia                                                                                       |\n|MSR|\t蒙特塞拉特 Montserrat                                                                               |\n|BGD|\t孟加拉国 Bangladesh                                                                                 |\n|PER|\t秘鲁 Peru                                                                                           |\n|FSM|\t密克罗尼西亚联邦 Micronesia，Federated states of                                                    |\n|MMR|\t缅甸 Myanmar                                                                                        |\n|MDA|\t摩尔多瓦 Moldova                                                                                    |\n|MAR|\t摩洛哥 Morocco                                                                                      |\n|MCO|\t摩纳哥 Monaco                                                                                       |\n|MOZ|\t莫桑比克 Mozambique                                                                                 |\n|MEX|\t墨西哥 Mexico                                                                                       |\n|NAM|\t纳米比亚 Namibia                                                                                    |\n|ZAF|\t南非 South Africa                                                                                   |\n|ATA|\t南极洲 Antarctica                                                                                   |\n|SGS|\t南乔治亚岛和南桑德韦奇岛 South Georgia and South Sandwich Islands                                   |\n|NRU|\t瑙鲁 Nauru                                                                                          |\n|NPL|\t尼泊尔 Nepal                                                                                        |\n|NIC|\t尼加拉瓜 Nicaragua                                                                                  |\n|NER|\t尼日尔 Niger                                                                                        |\n|NGA|\t尼日利亚 Nigeria                                                                                    |\n|NIU|\t纽埃 Niue                                                                                           |\n|NOR|\t挪威 Norway                                                                                         |\n|NFK|\t诺福克岛 Norfolk Island                                                                             |\n|PCN|\t皮特凯恩 Pitcairn                                                                                   |\n|PRT|\t葡萄牙 Portugal                                                                                     |\n|JPN|\t日本 Japan                                                                                          |\n|SWE|\t瑞典 Sweden                                                                                         |\n|CHE|\t瑞士 Switzerland                                                                                    |\n|SLV|\t萨尔瓦多 El Salvador                                                                                |\n|SLE|\t塞拉利昂 Sierra leone                                                                               |\n|SEN|\t塞内加尔 Senegal                                                                                    |\n|CYP|\t塞浦路斯 Cyprus                                                                                     |\n|SYC|\t塞舌尔 Seychells                                                                                    |\n|SAU|\t沙竺阿拉伯 Saudi Arabia                                                                             |\n|CXR|\t圣诞岛 Christmas Island                                                                             |\n|STP|\t圣多美和普林西比 Sao Tome and Principe                                                              |\n|SHN|\t圣赫勒拿 Saint helena                                                                               |\n|KNA|\t圣基茨和尼维斯 Saint Kitts and nevis                                                                |\n|LCA|\t圣卢西亚 Saint lucia                                                                                |\n|SMR|\t圣马力诺 San Marion                                                                                 |\n|SPM|\t圣皮埃尔和密克隆 Saint Pierre and Miquelon                                                          |\n|VCT|\t圣文森特和格林纳丁斯 Saint Vincent and the Grenadines                                               |\n|LKA|\t斯里兰卡 Sri Lanka                                                                                  |\n|SVK|\t斯洛伐克 Slovakia                                                                                   |\n|SVN|\t斯洛文尼亚 Slovenia                                                                                 |\n|SJM|\t斯瓦尔巴岛和扬马延岛 Svalbard and jan Mayen Islands                                                 |\n|SWZ|\t斯威士兰 Swaziland                                                                                  |\n|SDN|\t苏丹 Sudan                                                                                          |\n|SUR|\t苏里南 Suriname                                                                                     |\n|SOM|\t索马里 Somalia                                                                                      |\n|SLB|\t所罗门群岛 Solomon Islands                                                                          |\n|TJK|\t塔吉克斯坦 Tajikistan                                                                               |\n|THA|\t泰国 Thailand                                                                                       |\n|TZA|\t坦桑尼亚 Tanzania                                                                                   |\n|TON|\t汤加 Tonga                                                                                          |\n|TCA|\t特克斯科斯群岛 Turks and Caicos Islands                                                             |\n|TTO|\t特立尼达和多巴哥 Trinidad and Tobago                                                                |\n|TUN|\t突尼斯 Tunisia                                                                                      |\n|TUV|\t图瓦卢 Tuvalu                                                                                       |\n|TUR|\t土耳其 Turkey                                                                                       |\n|TKM|\t土库曼斯坦 Turkmenistan                                                                             |\n|TKL|\t托克劳 Tokelau                                                                                      |\n|WLF|\t瓦利斯和富图纳 Wallis and Futuna                                                                    |\n|VUT|\t瓦努阿图 Vanuatu                                                                                    |\n|GTM|\t危地马拉 Guatemala                                                                                  |\n|VEN|\t委内瑞拉 Venezuela                                                                                  |\n|BRN|\t文莱 Brunei Darussalam                                                                              |\n|UGA|\t乌干达 Uganda                                                                                       |\n|UKR|\t乌克兰 Ukraine                                                                                      |\n|URY|\t乌拉圭 Uruguay                                                                                      |\n|UZB|\t乌兹别克斯坦 Uzbekistan                                                                             |\n|ESP|\t西班牙 Spain                                                                                        |\n|ESH|\t西撒哈拉 Western Sahara                                                                             |\n|WSM|\t萨摩亚 Samoa                                                                                        |\n|GRC|\t希腊 Greece                                                                                         |\n|HKG|\t香港 Hong Kong                                                                                      |\n|SGP|\t新加坡 Singapore                                                                                    |\n|NCL|\t新喀里多尼亚 New Caledonia                                                                          |\n|NZL|\t新西兰 New Zealand                                                                                  |\n|HUN|\t匈牙利 Hungary                                                                                      |\n|SYR|\t叙利亚 Syria                                                                                        |\n|JAM|\t牙买加 Jamaica                                                                                      |\n|ARM|\t亚美尼亚 Armenia                                                                                    |\n|YEM|\t也门 Yemen                                                                                          |\n|IRQ|\t伊拉克 Iraq                                                                                         |\n|IRN|\t伊朗 Iran                                                                                           |\n|ISR|\t以色列 Israel                                                                                       |\n|ITA|\t意大利 Italy                                                                                        |\n|IND| \t印度 India                                                                                          |\n|IDN|\t印度尼西亚 Indonesia                                                                                |\n|GBR|\t英国 United Kingdom                                                                                 |\n|VGB|\t英属维尔京群岛 British Virgin Islands                                                               |\n|IOT|\t英属印度洋领地 British indian Ocean Territory                                                       |\n|JOR|\t约旦 Jordan                                                                                         |\n|VNM|\t越南 Viet Nam                                                                                       |\n|ZMB|\t赞比亚 Zambia                                                                                       |\n|TCD|\t乍得 Chad                                                                                           |\n|GIB|\t直布罗陀 Gibraltar                                                                                  |\n|CHL|\t智利 Chile                                                                                          |\n|CAF|\t中非 Central Africa                                                                                 |\n|CHN|\t中国 China                                                                                          |\n|TWN| \t中国台湾 Taiwan,China                                                                               |\n|SRB|\t塞尔维亚  SERBIA                                                                                    |\n|MNE|\t黑山  MONTENEGRO                                                                                    |\n|OTH|\t其他                                                                                                |\n                                                                                                            |"
        }
      }
    }
  }
}